Support 005 lines of IRC protocol.

These lines contains limitations of particular IRC server and hints about some useful defaults, e.g. character encoding.

Without applying these limits bot can construct too long answer (for example help message with long list of topics) and being kicked from channel and message being _muted_.

http://www.irc.org/tech_docs/005.html


Oh... about too long messages a was wrong - there is limitation to 512 characters per message (including '\r\n') in [rfc1459](https://www.ietf.org/rfc/rfc1459.txt#:~:text=IRC%20messages%20are%20always%20lines,the%20command%20and%20its%20parameters).

But on my ngircd it kicking much more earlier. Looks like this rfc 512 _chars_ translates to 512 _bytes_ in reality (utf8 symbol takes more than 1 byte, it is variable length) as  per its src/ngircd/defines.h and:
```c
/** Max. IRC command length (including NULL), see. RFC 2812 section 3.2. */
#define COMMAND_LEN 513
```

So safest value is 512 bytes per message. Good luck with splitting utf-8 string into 512 bytes length messages %)

3d255c5 provides a `numerics()` method that will return the first 100 numerics lines from the server. That should provide plugin authors what they need to comply with server limits.

Nice. I'll check this out.